<h1>Listing user_faqs</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_faqs.each do |user_faq| %>
  <tr>
    <td><%= user_faq.Question %></td>
    <td><%= user_faq.paper %></td>
    <td><%= link_to 'Show', user_faq %></td>
    <td><%= link_to 'Edit', edit_user_faq_path(user_faq) %></td>
    <td><%= link_to 'Destroy', user_faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User faq', new_user_faq_path %>
