<h1>Listing faqs</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th>Tags</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faqs.each do |faq| %>
  <tr>
    <td><%= faq.question %></td>
    <td><%= faq.answer %></td>
    <td><%= raw faq.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')  %></td>
    <td><%= link_to 'Show', faq %></td>
    <td><%= link_to 'Edit', edit_paper_faq_path(@paper, faq.id) %></td>
    <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div id="tag_cloud">
  <% tag_cloud Faq.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


<%= link_to 'New Faq', new_paper_faq_path %>
