<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @search_page.author %>
</p>

<p>
  <b>Title:</b>
  <%= @search_page.title %>
</p>

<p>
  <b>Publication date:</b>
  <%= @search_page.publication_date %>
</p>

<p>
  <b>Spark publication date:</b>
  <%= @search_page.SPARK_publication_date %>
</p>


<%= link_to 'Edit', edit_search_page_path(@search_page) %> |
<%= link_to 'Back', search_pages_path %>
