<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

<p>
  <b>Author:</b>
  <%= @paper.author.authorname %>
</p>

<p>
  <b>Description:</b>
  <%= @paper.description %>
</p>

<p>
  <b>User FAQ's:</b>
  <% @paper.faqs.each do |faq| %>
      <br /><%= faq.question %>
  <% end %>
</p>

<iframe src="/pdfjs/web/viewer.html?file=<%= @document.first.asset.url%>" style="border: 0" width="50%" height="600" frameborder="0" scrolling="no"></iframe>

<%= link_to 'FAQ', paper_faqs_path(@paper,@faq) %>
<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>



